<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pyflux</title>
</head>
<body>

This will show some stuff about InfluxDB when it appears.

<h1>Connection status</h1>
{% if ping %}
<p>Connected!</p>
{% else %}
<p>Not connected.</p>
{% endif %}

<h1>Databases</h1>
{% if dbs %}
<p>{{ dbs }}</p>
{% else %}
<p>No databases</p>
{% endif %}

<h1>Series</h1>
{% if series %}
<p>{{ series }}</p>
{% else %}
<p>No series</p>
{% endif %}


<h1>Connection info</h1>
{% if ifconfig %}
<p>{{ ifconfig }}</p>
{% endif %}

</body>
</html>